In [2]:
from pandas import DataFrame

In [7]:
data = {
    "Name" : ["Asep", "John", "Sam"],
    "Age"  : [20, 30, 15],
    "Salary" : [5000, 6000, 2000],
}

df = DataFrame(data)
df

   Name  Age  Salary
0  Asep   20    5000
1  John   30    6000
2   Sam   15    2000